[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[bcee5cfb-4900-4c37-8853-aa7ddd22b68b]
row=0
col=0

[D9AC-F322]
row=1
col=0

[9560525d-abdb-4a20-b4cc-cf4fef0f2bc5]
row=2
col=0

[/]
row=3
col=0

[/home/asenat]
row=4
col=0

